<body>
  <h3 class="venue-header panel"><%= @venue.name %></h3>
  <div id='map'></div>
  <div class="venue-shows">
    <div class="row panel">
      <% @venue.shows.each do |show| %>
        <ul class="panel">
          <li>Artist: <%= link_to show.band.name, band_path(show.band) %></li>
          <li>Date: <%= show.date %></li>
          <li>Time: <%= show.time %></li>
          <li><%= link_to "Tickets", show.ticket_url %></li>
        </ul>
      <% end %>
    </div>
  </div>

    <%= form_for [@venue, @review] do |f| %>
      <div class= "venue-reviews row">
        <div>
          <%= f.label :body %>
          <%= f.text_field :body %>

          <%= f.label :rating %>
          <%= f.select :rating, (1..5).to_a %>

          <%= f.submit "Create review" %>
        </div>
      </div>
    <% end %>

  <div class="reviews panel">
    <h4 class="reviews-header">Reviews</h4>
    <% @venue.reviews.each do |review| %>
      <div class="review panel">
        <%= review.rating %>
        <%= review.body %>
      </div>
    <% end %>
  </div>
</body>
