<h3><%= @venue.name %></h3>

<ul>
  <% @venue.shows.each do |show| %>
    <li>
      <%= link_to show.band.name, band_path(show.band) %>
      <%= show.date %>
      <%= show.time %>
      <%= link_to "Click it for Tickets!", show.ticket_url %>
    </li>
  <% end %>
</ul>

<%= form_for [@venue, @review] do |f| %>
  <div class= "row">
    <div class="large-12 columns">
      <%= f.label :body %>
      <%= f.text_field :body %>

      <%= f.label :rating %>
      <%= f.select :rating, (1..5).to_a %>

      <%= f.submit "Create review" %>
    </div>
  </div>
<% end %>
