<body>
  <h3 class="venue-header panel"><%= @venue.name %></h3>

  <div class="row panel">
    <% @venue.shows.each do |show| %>
      <ul class="panel">
        <li><%= link_to show.band.name, band_path(show.band) %></li>
        <li><%= show.date %></li>
        <li><%= show.time %></li>
        <li><%= link_to "Tickets", show.ticket_url %></li>
      </ul>
    <% end %>
  </div>

  <%= form_for [@venue, @review] do |f| %>
    <div class= "row">
      <div>
        <%= f.label :body %>
        <%= f.text_field :body %>

        <%= f.label :rating %>
        <%= f.select :rating, (1..5).to_a %>

        <%= f.submit "Create review" %>
      </div>
    </div>
  <% end %>
</body>
