<h3><%= @band.name %></h3>

<ul>
  <% @band.shows.each do |show| %>
    <li>
      <%= link_to show.venue.name, venue_path(show.venue) %>
      <%= show.date %>
      <%= show.time %>
      <%= link_to "Click it for Tickets!", show.ticket_url %>
  <% end %>
</ul>
