<h3><%= @band.name %></h3>

<ul>
  <% @band.shows.each do |show| %>
    <li>
      <%= link_to show.venue.name, venue_path(show.venue) %>
      <%= show.date %>
      <%= show.time %>
      <%= link_to "Click it for Tickets!", show.ticket_url %>
  <% end %>
</ul>

<%= form_for [@band, @review] do |f| %>
  <div class= "row">
    <div class="large-12 columns">
      <%= f.label :body %>
      <%= f.text_field :body %>

      <%= f.label :rating %>
      <%= f.select :rating, (1..5).to_a %>

      <%= f.submit "Create review" %>
    </div>
  </div>
<% end %>
