<body>
  <div class="band-header-background">
    <div class="band-header panel">
      <h3 class="band-header-text"><%= @band.name %></h3>
    </div>
  </div>

  <div class="center-page">
    <div class="band-shows-info panel">
      <ul>
        <% if @artists_tracks %>
          <li>
            <%= image_tag(@artists_tracks.first.album.images.first["url"]) %>
            <%= link_to "Favorite Band", band_favorites_path(@band), method: :post %>
          </li>
        <% elsif @band.shows.first %>
          <li><%= image_tag(@band.shows.first.image_url) %></li>
        <% else %>
          <li>No Image provided</li>
        <% end %>
        <% @band.shows.each do |show| %>
          <div>
            <li><%= link_to show.venue.name, venue_path(show.venue) %></li>
            <li><%= show.date %></li>
            <li><%= show.time %></li>
            <li><%= link_to "Tickets", show.ticket_url %></li>
          </div>
        <% end %>
      </ul>
    </div>

    <div class="artists-tracks panel">
      <% if @artists_tracks %>
        <h3 class="tracks-header">Top Tracks</h3>
        <% @artists_tracks.each do |track| %>
          <div class="panel">
            <p class="preview"><%=link_to "Preview", track.preview_url %></p>
            <h4 class="track-info "><%= track.name %> - <%= track.album.name %></h4>
          </div>
        <% end %>
      <% else %>
        <h3 class="tracks-header">No tracks to display</h3>
      <% end %>
    </div>
  </div>

  <div class="reviews-background">
    <div class= "review-form panel">
      <%= form_for [@band, @review] do |f| %>
        <div class= "row">
          <%= f.label :rating %>
          <%= f.select :rating, (1..5).to_a %>

          <%= f.label :body %>
          <%= f.text_field :body %>

          <%= f.submit "Create review" %>
        </div>
      <% end %>
    </div>

    <div class="reviews panel">
      <h4 class="reviews-header">Reviews</h4>
      <% @band.reviews.each do |review| %>
        <div class="review panel">
          <h4><%= review.user.email %> - <%= review.rating %></h4>
          <p><%= review.body %></p>
          <% if review.owner?(current_user) %>
            <%= link_to "Edit", edit_band_review_path(review.id, review.reviewable_id), :class => "button tiny" %>
            <%= link_to "Delete", band_review_path(@band, review), method: :delete, :class => "button tiny", data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</body>
