<body>
    <nav>
      <section class="search-section">
        <div class="front-search">
          <form action="<%= searches_path %>" method="GET">
            <input id="front-search-bar" type="text" name="search" placeholder="Search bands, venues or tags">
            <input id="front-search-button" type="submit" value="Search" class="button">
          </form>
        </div>
      </section>
    </nav>

  <div class="page-content">
    <div class="newest-shows panel">
      <h3 class="newest-header">New</h3>
      <% @newest_shows.each do |show| %>
        <div class="show-details panel">
          <div class="ticket-url">
            <%= link_to "Tickets", show.ticket_url %>
          </div>
          <div class="votes">
            <% if show.user_upvoted?(current_user) %>
              <%= link_to "⬆", show_upvotes_path(show), method: :post, class: "upvote #{show.id}-up", remote: true %>
            <% else %>
              <%= link_to "⬆", show_upvotes_path(show), method: :post, class: "novote-up #{show.id}-noup", remote: true%>
            <% end %>
            <p class= "sum-of-votes <%= show.id %>-sum"><%= show.sum_of_votes %></p>
            <% if show.user_downvoted?(current_user) %>
              <%= link_to "⬇", show_downvotes_path(show), method: :post, class: "downvote #{show.id}-down", remote: true %>
            <% else %>
              <%= link_to "⬇", show_downvotes_path(show), method: :post, class: "novote-down #{show.id}-nodown", remote: true %>
            <% end %>
          </div>
          <div class="band-and-venue">
              <h4 class="band-name"><%= link_to show.band.display_name, show_path(show) %></h4>
              <h4 class="venue-name"><%= link_to show.venue.display_name, venue_path(show.venue) %></h4>
          </div>
            <div class="date-time">
              <%= show.date %> at <%= show.time %>
            </div>
        </div>
      <% end %>
    </div>

    <div class="hot-shows panel">
      <h3 class="hot-header">Hot</h3>
      <% @hot_shows.each do |show| %>
        <div class="show-details panel">
          <div class="ticket-url">
            <%= link_to "Tickets", show.ticket_url %>
          </div>
          <div class="votes">
            <% if show.user_upvoted?(current_user) %>
              <%= link_to "⬆", show_upvotes_path(show), method: :post, class: "upvote #{show.id}-up", remote: true %>
            <% else %>
              <%= link_to "⬆", show_upvotes_path(show), method: :post, class: "novote-up #{show.id}-noup", remote: true%>
            <% end %>
            <p class= "sum-of-votes <%= show.id %>-sum"><%= show.sum_of_votes %></p>
            <% if show.user_downvoted?(current_user) %>
              <%= link_to "⬇", show_downvotes_path(show), method: :post, class: "downvote #{show.id}-down", remote: true %>
            <% else %>
              <%= link_to "⬇", show_downvotes_path(show), method: :post, class: "novote-down #{show.id}-nodown", remote: true %>
            <% end %>
          </div>
            <div class="band-and-venue">
              <h4 class="band-name"><%= link_to show.band.display_name, show_path(show) %></h4>
              <h4 class="venue-name"><%= link_to show.venue.display_name, venue_path(show.venue) %></h4>
            </div>
            <div class="date-time">
              <%= show.date %> at <%= show.time %>
            </div>
        </div>
      <% end %>
    </div>

    <div class="upcoming-shows panel">
      <h3 class="upcoming-header">Upcoming</h3>
      <% @upcoming_shows.each do |show| %>
        <div class="show-details panel">
          <div class="ticket-url">
            <%= link_to "Tickets", show.ticket_url %>
          </div>
          <div class="votes">
            <% if show.user_upvoted?(current_user) %>
              <%= link_to "⬆", show_upvotes_path(show), method: :post, class: "upvote #{show.id}-up", remote: true %>
            <% else %>
              <%= link_to "⬆", show_upvotes_path(show), method: :post, class: "novote-up #{show.id}-noup", remote: true%>
            <% end %>
            <p class= "sum-of-votes <%= show.id %>-sum"><%= show.sum_of_votes %></p>
            <% if show.user_downvoted?(current_user) %>
              <%= link_to "⬇", show_downvotes_path(show), method: :post, class: "downvote #{show.id}-down", remote: true %>
            <% else %>
              <%= link_to "⬇", show_downvotes_path(show), method: :post, class: "novote-down #{show.id}-nodown", remote: true %>
            <% end %>
          </div>
            <div class="band-and-venue">
              <h4 class="band-name"><%= link_to show.band.display_name, show_path(show) %></h4>
              <h4 class="venue-name"><%= link_to show.venue.display_name, venue_path(show.venue) %></h4>
            </div>
            <div class="date-time">
              <%= show.date %> at <%= show.time %>
            </div>
        </div>
      <% end %>
    </div>

    <div class="upcoming-shows panel">
      <h3 class="upcoming-header">Cheapest</h3>
      <% @cheapest_shows.each do |show| %>
        <div class="show-details panel">
          <div class="ticket-url">
            <%= link_to "Tickets", show.ticket_url %>
          </div>
          <div class="votes">
            <% if show.user_upvoted?(current_user) %>
              <%= link_to "⬆", show_upvotes_path(show), method: :post, class: "upvote #{show.id}-up", remote: true %>
            <% else %>
              <%= link_to "⬆", show_upvotes_path(show), method: :post, class: "novote-up #{show.id}-noup", remote: true%>
            <% end %>
            <p class= "sum-of-votes <%= show.id %>-sum"><%= show.sum_of_votes %></p>
            <% if show.user_downvoted?(current_user) %>
              <%= link_to "⬇", show_downvotes_path(show), method: :post, class: "downvote #{show.id}-down", remote: true %>
            <% else %>
              <%= link_to "⬇", show_downvotes_path(show), method: :post, class: "novote-down #{show.id}-nodown", remote: true %>
            <% end %>
          </div>
            <div class="band-and-venue">
              <h4 class="band-name"><%= link_to show.band.display_name, show_path(show) %></h4>
              <h4 class="venue-name"><%= link_to show.venue.display_name, venue_path(show.venue) %></h4>
            </div>
            <div class="date-time">
              <%= show.date %> at <%= show.time %>
            </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="all-shows-background">
  <div class="all-shows panel">
    <h3 class="all-shows-header">All Shows</h3>
    <% @shows.each do |show| %>
      <div class="show-details panel">
        <div class="ticket-url">
          <%= link_to "Tickets", show.ticket_url %>
        </div>
        <div class="votes">
            <% if show.user_upvoted?(current_user) %>
              <%= link_to "⬆", show_upvotes_path(show), method: :post, class: "upvote #{show.id}-up", remote: true %>
            <% else %>
              <%= link_to "⬆", show_upvotes_path(show), method: :post, class: "novote-up #{show.id}-noup", remote: true%>
            <% end %>
            <br>
            <p class= "sum-of-votes <%= show.id %>-sum"><%= show.sum_of_votes %></p>
            <br>
            <% if show.user_downvoted?(current_user) %>
              <%= link_to "⬇", show_downvotes_path(show), method: :post, class: "downvote #{show.id}-down", remote: true %>
            <% else %>
              <%= link_to "⬇", show_downvotes_path(show), method: :post, class: "novote-down #{show.id}-nodown", remote: true %>
            <% end %>        </div>
          <div class="band-and-venue">
            <h4 class="band-name"><%= link_to show.band.name, show_path(show) %></h4>
            <h4 class="all-shows-venue-name"><%= link_to show.venue.name, venue_path(show.venue) %></h4>
          </div>
          <div class="date-time">
            <%= show.date %> at <%= show.time %>
          </div>
          <div class="tags">
            <%= show.display_tags %>
          </div>
      </div>
    <% end %>
    <div class="pagination">
      <%= paginate @shows %>
    </div>
  </div>
</div>
</body>
