<body>
  <div class="show-header panel">
    <div class="show-votes">
      <%= link_to "⬆", show_upvotes_path(@show), method: :post %>
      <%= @show.sum_of_votes %>
      <%= link_to "⬇", show_downvotes_path(@show), method: :post %>
    </div>
    <h3 class="show-header-text"><%= @show.band.name %> at <%= @show.venue.name %> </h3>
  </div>

  <div class="shows-details panel">
    <ul>
      <li><%= image_tag(@artists_tracks.first.album.images.first["url"]) %></li>
      <li><%= @show.venue.longitude %></li>
      <li><%= @show.venue.latitude %></li>
      <li>Average price: $<%= @show.avg_price %></li>
      <li>Date: <%= @show.date %></li>
      <li>Time: <%= @show.time %></li>
    </ul>
    <div class="tags">
      Tags: <%= @show.display_tags %>
    </div>
    <%= link_to "Add tags", edit_show_path(@show) %>
  </div>

  <div class="artists-tracks panel">
    <h3>Top Tracks</h3>
    <% @artists_tracks.each do |track| %>
      <div class="panel">
        <h4><%= track.name %> - <%=link_to "Preview", track.preview_url %></h4>
      </div>
    <% end %>
  </div>

  <div class= "review-form">
    <%= form_for [@show, @review] do |f| %>
      <div class= "row">
        <div class="large-12 columns">
          <%= f.label :body %>
          <%= f.text_field :body %>

          <%= f.label :rating %>
          <%= f.select :rating, (1..5).to_a %>

          <%= f.submit "Create review" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="reviews panel">
    <% @show.reviews.each do |review| %>
      <div class="review panel">
        <%= review.rating %>
        <%= review.body %>
      </div>
    <% end %>
  </div>

</body>
