<h3><%= @show.band.name %> at <%= @show.venue.name %> </h3>

<div class="show-details">
  <%= link_to "⬆", show_upvotes_path(@show), method: :post %>
  <%= @show.sum_of_votes %>
  <%= link_to "⬇", show_downvotes_path(@show), method: :post %>
  <%= @show.date %>
  <%= @show.time %>
</div>

<%= form_for [@show, @review] do |f| %>
  <div class= "row">
    <div class="large-12 columns">
      <%= f.label :body %>
      <%= f.text_field :body %>

      <%= f.label :rating %>
      <%= f.select :rating, (1..5).to_a %>

      <%= f.submit "Create review" %>
    </div>
  </div>
<% end %>
