<body>
  <div class="show-header-background">
    <div class="show-header panel">
      <div class="show-votes">
        <% if @show.user_upvoted?(current_user) %>
          <%= link_to "⬆", show_upvotes_path(@show), method: :post, :class => "upvote" %>
        <% else %>
          <%= link_to "⬆", show_upvotes_path(@show), method: :post, :class => "novote-up" %>
        <% end %>
        <%= @show.sum_of_votes %>
        <% if @show.user_downvoted?(current_user) %>
          <%= link_to "⬇", show_downvotes_path(@show), method: :post, :class => "downvote" %>
        <% else %>
          <%= link_to "⬇", show_downvotes_path(@show), method: :post, :class => "novote-down"%>
        <% end %>
      </div>
      <h3 class="show-header-text"><%= @show.band.name %> at <%= @show.venue.name %> </h3>
    </div>
  </div>
  <div class="center-page">
    <div class="shows-details panel">
        <div id='map'></div>
      <ul>
        <li><%= link_to "Tickets", @show.ticket_url %></li>
        <li>Date: <%= @show.date %></li>
        <li>Time: <%= @show.time %></li>
        <li><%= link_to "Favorite Band", band_favorites_path(@show.band), method: :post %></li>
        <li><%= link_to "Favorite Venue", venue_favorites_path(@show.venue), method: :post %></li>
      </ul>
      <div class="tags">
        Tags: <%= @show.display_tags %>
      </div>
      <%= link_to "Add tags", edit_show_path(@show) %>
    </div>

    <div class="artists-tracks panel">
      <% if @artists_tracks %>
        <h3 class="tracks-header">Top Tracks</h3>
        <% @artists_tracks.each do |track| %>
          <div class="panel">
            <h4 class="track-info "><%= track.name %> - <%= track.album.name %></h4>
            <iframe src="https://embed.spotify.com/?uri=<%= track.uri %>" frameborder="0" allowtransparency="true"></iframe>
            <p class="preview"><%=link_to "Free Preview", track.preview_url %></p>
          </div>
        <% end %>
      <% else %>
        <h3 class="tracks-header">No tracks to display</h3>
      <% end %>
    </div>
  </div>

  <div class= "review-form panel">
    <%= form_for [@show, @review] do |f| %>
      <div class= "row">
        <%= f.label :rating %>
        <%= f.select :rating, (1..5).to_a %>

        <%= f.label :body %>
        <%= f.text_field :body %>

        <%= f.submit "Create review" %>
      </div>
    <% end %>
  </div>

  <div class="reviews panel">
    <h4 class="reviews-header">Reviews</h4>
    <% @show.reviews.each do |review| %>
      <div class="review panel">
        <h3><%= review.user.email %> - <%= review.rating %></h3>
        <p><%= review.body %><p>
      </div>
    <% end %>
  </div>

</body>
