<!DOCTYPE html>
<html>
  <head>
    <title>ShowUp</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
  </head>
  <body>

    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">ShowUp</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <% if current_user %>
            <li>
              <%= link_to "My Showup", user_path(current_user) %>
            </li>
          <% end %>
          <li>
             <%= link_to 'Shows', shows_path %>
          </li>
          <li>
             <%= link_to 'Bands', bands_path %>
          </li>
          <li>
             <%= link_to 'Venues', venues_path %>
          </li>
          <%- if current_user -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
        <div class="search left">
          <form action="<%= searches_path %>" method="GET">
            <input id="searchBar" type="text" name="search" value="">
            <input id="searchButton" type="submit" value="Search" class="button">
          </form>
        </div>
      </section>
    </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %> flash-messages">
        <%= value %>
      </div>
    <% end %>


    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/footer' %>
    <%= yield :extra_footer %>
  </body>
</html>
